*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
}
:root{
    --Warm-Black: #201E1C;
    --Black: #282623;
    --Off-white:#FAF8F7;
    --xbox-green:#5AB300;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.header{
    background:#282623;
    height: 100px;
    width: 1349px;
    border: #5AB300 solid 1px ;
}

.header__img{
    float: left;
    margin: 15px;
}

.header__img:hover{
    background: white;
    border-radius: 90px;
    transition: .8s ease all;
}

.header__item{
    display: flex;
    color:white;
    background: #201E1C;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    margin: 35px;
    text-align:right;
    float:right;
    transition: .4s ease all;
}

.header__word{
    margin: 6px 0px 0px 12px;
    align-items: center;
}

.header__item:hover{
    background:var(--xbox-green);
}


.section{
    background:var(--Black);
    height: 1100px;
}

.gpass{
    background: var(--Warm-Black);
    width: 600px;
    height: 500px;
    border-radius: 0px 0px 6px;
    float: left;
}

.gpass__title{
    color: white;
    font-size: 40px;
    padding: 60px;
}

.gpass__text{
    color: white;
    height: 20px;
    width: 320px;
    padding: 0px 0px 0px 60px;
    font-size: 17px;
    text-align: left;
}

.gpass__boton{
    background: yellowgreen;
    color:#2C4E0A;
    margin-top: 100px;
    margin-left: 70px;
    height: 30px;
    width: 180px;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 10px;
    transition: .4s ease all;
    
}

.gpass__boton:hover{
    color: white;
}

.gpass__boton2{
    color:white;
    margin-top: 15px;
    margin-left: 60px;
    height: 30px;
    width: 200px;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 10px;
    transition: .4s ease all;
}

.gpass__boton2:hover{
    color: greenyellow;
}


.gpass__text2{
    color: white;
    width: 450px;
    padding: 5px 0px 0px 60px;
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
    font-family: cursive;
}


.gpass__img{
    margin: 0px 0px 0px 600px;
    height: 455px;
    width:751px;
    position: absolute;
}



.catalog{
    width: 1350px;
}

.catalog__title{
    color: white;
    padding-top: 550px;
    padding-left: 350px;
    font-size: 25px;
}

.catalog__title-word{
    color: white;
    position: absolute;
}

.catalog__imgs{
    padding-top: 100px;
    padding-left: 50px;
}

.catalog__img{
    margin: 5px;
    transition: .8s ease all;
    border: black solid 2px;
}

.catalog__img:hover{
    border: greenyellow solid 3px;
    transition: .8s ease all;
}


.games__img{
    text-align: center;
}

.games__title-text{
    color: white;
    font-family:sans-serif;
    font-size: 50px;
    height: 70px;
    width: 700px;
    position: relative;
    left: 350px;
    top: 250px;
}